footer {
  .footer-nav {
    list-style: none;
    padding-left: 0;

    li {
      display: inline;
      margin-left: 40px;

      a {
        text-decoration: none;
        color: $brand-black;
        font-weight: 600;
        transition: 0.2s;

        &:hover {
          color: $brand-primary;
        }
      }
    }
  }
}
