.main {
  .header,
  .section {
    padding: 75px 0;

    @include breakpoint(lg) {
      padding: 100px 0;
    }
  }

  .header {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
