nav {
  padding: 16px 0;
  transition: 0.2s linear;

  @include breakpoint(lg) {
    padding: 26px 0;
  }

  &.scroll-nav {
    background-color: $brand-white;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
    padding: 16px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-logo {
      width: 126px;

      img {
        width: 126px;
      }

      &:hover {
        color: $brand-black;
      }
    }

    .navbar-nav {
      flex-direction: row;

      .nav-item {
        margin-left: 40px;

        .nav-link {
          color: $brand-black;
          font-weight: 600;
          transition: 0.2s;

          &:hover {
            color: $brand-primary;
          }
        }
      }
    }

    .nav-toggle {
      display: block;

      @include breakpoint(lg) {
        display: none;
      }
    }
  }
}

.mobile-navbar {
  width: 97%;
  padding: 20px 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  background-color: $brand-white;
  border-radius: 8px;
  list-style: none;
  transition: 0.3s;
  box-shadow: 0px 1px 16px 8px rgba(0, 0, 0, 0.03);

  position: fixed;
  top: 70px;
  right: 50%;
  transform: translateX(50%);
  z-index: 3;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  li {
    padding: 6px 0;

    a {
      color: $brand-black;
      font-weight: 600;
      transition: 0.2s;
      text-decoration: none;

      &:hover {
        color: $brand-primary;
      }
    }
  }
}
